<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.es.building.mapper.TusrVirtualDeviceEntityMapper" >
  <resultMap id="BaseResultMap" type="com.es.building.common.entitybak.TusrVirtualDeviceEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="master_device_key" property="masterDeviceKey" jdbcType="VARCHAR" />
    <result column="virtual_device_name" property="virtualDeviceName" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="channel_param" property="channelParam" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, master_device_key, virtual_device_name, channel, channel_param, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tusr_virtual_device
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tusr_virtual_device
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.es.building.common.entitybak.TusrVirtualDeviceEntity" >
    insert into tusr_virtual_device (id, master_device_key, virtual_device_name, 
      channel, channel_param, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{masterDeviceKey,jdbcType=VARCHAR}, #{virtualDeviceName,jdbcType=VARCHAR}, 
      #{channel,jdbcType=INTEGER}, #{channelParam,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.es.building.common.entitybak.TusrVirtualDeviceEntity" >
    insert into tusr_virtual_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="masterDeviceKey != null" >
        master_device_key,
      </if>
      <if test="virtualDeviceName != null" >
        virtual_device_name,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="channelParam != null" >
        channel_param,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="masterDeviceKey != null" >
        #{masterDeviceKey,jdbcType=VARCHAR},
      </if>
      <if test="virtualDeviceName != null" >
        #{virtualDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="channelParam != null" >
        #{channelParam,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.es.building.common.entitybak.TusrVirtualDeviceEntity" >
    update tusr_virtual_device
    <set >
      <if test="masterDeviceKey != null" >
        master_device_key = #{masterDeviceKey,jdbcType=VARCHAR},
      </if>
      <if test="virtualDeviceName != null" >
        virtual_device_name = #{virtualDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=INTEGER},
      </if>
      <if test="channelParam != null" >
        channel_param = #{channelParam,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.es.building.common.entitybak.TusrVirtualDeviceEntity" >
    update tusr_virtual_device
    set master_device_key = #{masterDeviceKey,jdbcType=VARCHAR},
      virtual_device_name = #{virtualDeviceName,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=INTEGER},
      channel_param = #{channelParam,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>