<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.es.building.mapper.TusrGroupTimingEntityMapper" >
  <resultMap id="BaseResultMap" type="com.es.building.common.entitybak.TusrGroupTimingEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="timing_id" property="timingId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_id, timing_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tusr_group_timing
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tusr_group_timing
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.es.building.common.entitybak.TusrGroupTimingEntity" >
    insert into tusr_group_timing (id, group_id, timing_id
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{timingId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.es.building.common.entitybak.TusrGroupTimingEntity" >
    insert into tusr_group_timing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="timingId != null" >
        timing_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="timingId != null" >
        #{timingId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.es.building.common.entitybak.TusrGroupTimingEntity" >
    update tusr_group_timing
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="timingId != null" >
        timing_id = #{timingId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.es.building.common.entitybak.TusrGroupTimingEntity" >
    update tusr_group_timing
    set group_id = #{groupId,jdbcType=BIGINT},
      timing_id = #{timingId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>