<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
       <!-- 自动加载构建bean 不扫描 controller 注解 避免事务失效问题 -->
       <context:component-scan base-package="com.es.building.common">
              <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
       </context:component-scan>
       <!-- db config 加载配置属性文件    -->
              <context:property-placeholder
                      ignore-unresolvable="true" location="classpath*:managementdb.properties"/>

              <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
                    destroy-method="close">
                     <property name="url" value="${jdbc.url}"/>
                     <property name="driverClassName" value="${jdbc.driver}"/>
                     <property name="username" value="${jdbc.user}"/>
                     <property name="password" value="${jdbc.password}"/>
              </bean>


              <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                     <property name="dataSource" ref="dataSource"></property>
              </bean>

              <tx:advice id="txAdvice" transaction-manager="transactionManager">
                     <tx:attributes >
                            <tx:method name="delete*" propagation="REQUIRED" read-only="false"  />
                            <tx:method name="insert*" propagation="NESTED" read-only="false"/>
                            <tx:method name="update*" propagation="NESTED" read-only="false"/>
                            <!--
                            <tx:method name="find*" propagation="REQUIRED" read-only="true"/>
                            <tx:method name="select*" propagation="REQUIRED" read-only="true"/>
                            -->
                            <tx:method name="get*" propagation="REQUIRED" read-only="true"/>
                            <tx:method name="make*" propagation="SUPPORTS" read-only="false"/>
                     </tx:attributes>
              </tx:advice>

              <aop:config >
                     <aop:pointcut expression="execution(* com.es.building.common.thin.*.*(..))" id="serviceCutPoint"/>
                     <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceCutPoint"/>
              </aop:config>

       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource"></property>
              <property name="configLocation" value="classpath:mybatis-config.xml"></property>

              <!--mybatis配置文件自动扫描路径-->
              <property name="mapperLocations">
                     <array>
                            <value>classpath*:mybatismappers/*.xml</value>
                     </array>
              </property>

       </bean>
       <bean id="springCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
              <property name="cacheManager" ref="ehcacheManager"/>
       </bean>

       <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
              <property name="configLocation" value="classpath:ehcache.xml"/>
       </bean>
       <mybatis:scan base-package="com.es.building.common.mapper" />
</beans>