<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.es.building.common.mapper.TusrTimingMapper" >
  <resultMap id="BaseResultMap" type="com.es.building.common.entity.TusrTiming" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="timing_name" property="timingName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="cron" property="cron" jdbcType="VARCHAR" />
    <result column="timing_order" property="timingOrder" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, timing_name, create_time, cron, timing_order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tusr_timing
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tusr_timing
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.es.building.common.entity.TusrTiming" >
    insert into tusr_timing (id, timing_name, create_time, 
      cron, timing_order)
    values (#{id,jdbcType=BIGINT}, #{timingName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{cron,jdbcType=VARCHAR}, #{timingOrder,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.es.building.common.entity.TusrTiming" >
    insert into tusr_timing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="timingName != null" >
        timing_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="cron != null" >
        cron,
      </if>
      <if test="timingOrder != null" >
        timing_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="timingName != null" >
        #{timingName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cron != null" >
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="timingOrder != null" >
        #{timingOrder,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.es.building.common.entity.TusrTiming" >
    update tusr_timing
    <set >
      <if test="timingName != null" >
        timing_name = #{timingName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cron != null" >
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="timingOrder != null" >
        timing_order = #{timingOrder,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.es.building.common.entity.TusrTiming" >
    update tusr_timing
    set timing_name = #{timingName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cron = #{cron,jdbcType=VARCHAR},
      timing_order = #{timingOrder,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>