<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.es.building.mapper.TusrDeviceEntityMapper" >
  <resultMap id="BaseResultMap" type="com.es.building.common.entity.TusrDeviceEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_key" property="deviceKey" jdbcType="VARCHAR" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="gateway_device_key" property="gatewayDeviceKey" jdbcType="VARCHAR" />
    <result column="software_version" property="softwareVersion" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_type_code" property="deviceTypeCode" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="param" property="param" jdbcType="VARCHAR" />
    <result column="state_update_time" property="stateUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_key, sn, gateway_device_key, software_version, device_name, device_type_code, 
    area_id, state, param, state_update_time, create_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tusr_device
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tusr_device
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.es.building.common.entity.TusrDeviceEntity" >
    insert into tusr_device (id, device_key, sn, 
      gateway_device_key, software_version, device_name, 
      device_type_code, area_id, state, 
      param, state_update_time, create_time, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{deviceKey,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, 
      #{gatewayDeviceKey,jdbcType=VARCHAR}, #{softwareVersion,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceTypeCode,jdbcType=VARCHAR}, #{areaId,jdbcType=BIGINT}, #{state,jdbcType=VARCHAR}, 
      #{param,jdbcType=VARCHAR}, #{stateUpdateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.es.building.common.entity.TusrDeviceEntity" >
    insert into tusr_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceKey != null" >
        device_key,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="gatewayDeviceKey != null" >
        gateway_device_key,
      </if>
      <if test="softwareVersion != null" >
        software_version,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceTypeCode != null" >
        device_type_code,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="param != null" >
        param,
      </if>
      <if test="stateUpdateTime != null" >
        state_update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceKey != null" >
        #{deviceKey,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="gatewayDeviceKey != null" >
        #{gatewayDeviceKey,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null" >
        #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeCode != null" >
        #{deviceTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="stateUpdateTime != null" >
        #{stateUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.es.building.common.entity.TusrDeviceEntity" >
    update tusr_device
    <set >
      <if test="deviceKey != null" >
        device_key = #{deviceKey,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="gatewayDeviceKey != null" >
        gateway_device_key = #{gatewayDeviceKey,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null" >
        software_version = #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeCode != null" >
        device_type_code = #{deviceTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="stateUpdateTime != null" >
        state_update_time = #{stateUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.es.building.common.entity.TusrDeviceEntity" >
    update tusr_device
    set device_key = #{deviceKey,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR},
      gateway_device_key = #{gatewayDeviceKey,jdbcType=VARCHAR},
      software_version = #{softwareVersion,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_type_code = #{deviceTypeCode,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=BIGINT},
      state = #{state,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      state_update_time = #{stateUpdateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>