<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.es.building.common.mapper.TusrHistoryStatisticalMapper" >
  <resultMap id="BaseResultMap" type="com.es.building.common.entity.TusrHistoryStatistical" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_key" property="deviceKey" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="device_type_code" property="deviceTypeCode" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="record_type" property="recordType" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_name, device_key, channel, device_type_code, area_id, area_name, data, 
    record_type, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tusr_history_statistical
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tusr_history_statistical
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.es.building.common.entity.TusrHistoryStatistical" >
    insert into tusr_history_statistical (id, device_name, device_key, 
      channel, device_type_code, area_id, 
      area_name, data, record_type, 
      update_time, remark)
    values (#{id,jdbcType=BIGINT}, #{deviceName,jdbcType=VARCHAR}, #{deviceKey,jdbcType=VARCHAR}, 
      #{channel,jdbcType=INTEGER}, #{deviceTypeCode,jdbcType=VARCHAR}, #{areaId,jdbcType=BIGINT}, 
      #{areaName,jdbcType=VARCHAR}, #{data,jdbcType=VARCHAR}, #{recordType,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.es.building.common.entity.TusrHistoryStatistical" >
    insert into tusr_history_statistical
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceKey != null" >
        device_key,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="deviceTypeCode != null" >
        device_type_code,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="recordType != null" >
        record_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceKey != null" >
        #{deviceKey,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeCode != null" >
        #{deviceTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null" >
        #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.es.building.common.entity.TusrHistoryStatistical" >
    update tusr_history_statistical
    <set >
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceKey != null" >
        device_key = #{deviceKey,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeCode != null" >
        device_type_code = #{deviceTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null" >
        record_type = #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.es.building.common.entity.TusrHistoryStatistical" >
    update tusr_history_statistical
    set device_name = #{deviceName,jdbcType=VARCHAR},
      device_key = #{deviceKey,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=INTEGER},
      device_type_code = #{deviceTypeCode,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=BIGINT},
      area_name = #{areaName,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      record_type = #{recordType,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>